<input class="query" data-bind="value: query" /> 
<span class="twitter">
    <label>Twitter</label>
    <input class="check" type="radio" name="service" value="twitter" data-bind="checked: service">
</span>
<span class="asnwers">
    <label>Answers</label>
    <input class="check" type="radio" name="service" value="answers" data-bind="checked: service">
</span>
<button data-bind="click: search">Search</button>
