.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

#srchr {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  #srchr .header {
    position: absolute;
    top: 0;
    right: 0;
    height: 65px;
    left: 0;
    border-bottom: 1px solid #333;
    padding-left: 20px; }
    #srchr .header .search_bar {
      line-height: 60px; }
  #srchr .content {
    position: absolute;
    top: 66px;
    right: 0;
    bottom: 0;
    left: 0; }
    #srchr .content .history {
      position: absolute;
      top: 0;
      width: 320px;
      bottom: 0;
      left: 0;
      border-right: 1px solid #333; }
      #srchr .content .history .searches {
        list-style: none;
        margin: 0;
        padding: 0; }
        #srchr .content .history .searches .search {
          padding: 5px;
          border-bottom: 1px solid #999;
          cursor: pointer; }
          #srchr .content .history .searches .search .remove {
            cursor: pointer; }
    #srchr .content .search_results_container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 321px; }
      #srchr .content .search_results_container .tabs_container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
        #srchr .content .search_results_container .tabs_container .tabs {
          list-style: none;
          margin: 0;
          padding: 0; }
          #srchr .content .search_results_container .tabs_container .tabs .tab {
            float: left;
            margin: 0 0 0 5px;
            padding: 5px 5px 0 5px;
            border-left: 1px solid #999;
            border-top: 1px solid #999;
            border-right: 1px solid #999;
            border-bottom: 1px solid #999;
            background-color: #ddd; }
            #srchr .content .search_results_container .tabs_container .tabs .tab.selected {
              border-bottom: none;
              background-color: #fff; }
            #srchr .content .search_results_container .tabs_container .tabs .tab a {
              text-decoration: none; }
      #srchr .content .search_results_container .twitter, #srchr .content .search_results_container .answers {
        margin-top: -6px;
        border-top: 1px solid #999; }
        #srchr .content .search_results_container .twitter .search_results .result, #srchr .content .search_results_container .answers .search_results .result {
          width: 100%;
          padding: 5px;
          border-bottom: 1px solid #aaa; }
          #srchr .content .search_results_container .twitter .search_results .result .profile_image, #srchr .content .search_results_container .answers .search_results .result .profile_image {
            float: left;
            margin: 0 5px; }
          #srchr .content .search_results_container .twitter .search_results .result .info, #srchr .content .search_results_container .answers .search_results .result .info {
            float: left; }
            #srchr .content .search_results_container .twitter .search_results .result .info .text, #srchr .content .search_results_container .answers .search_results .result .info .text {
              max-width: 800px; }
