<div class='search_bar'>SEARCHBAR PLACEHOLDER</div>
<div class='container'>
	<div class='history'>HISTORY PLACEHOLDER</div>
	<div class='search_results'>
		<div class='tabs_wrapper'>
			<ul class='tabs'>
				<li class='tab current'><a href='#twitter_panel'>Twitter</a></li>
				<li class='tab'><a href='#answers_panel'>Answers</a></li>
			</ul>
			<div id='twitter_panel' class='panel'></div>
			<div id='answers_panel' class='panel'></div>
		</div>	
	</div>
</div>
